.navbar-collapse{
    margin-left: 70%
}
.promo-text{
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 70px;
}
.promo-link:hover{
    color: pink;
}
.btn{
    margin-left: 5%;
    margin-top: 3%;
}
.img-gallery{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.afooter{
    position: absolute;
    bottom: 0%;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}