.navbar-collapse{
    margin-left: 70%
}
.promo-text{
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 70px;
}
.promo-link:hover{
    color: pink;
}
.btn{
    margin-left: 5%;
    margin-top: 3%;
    
}